@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.cdnfonts.com/css/anurati');
@import url('https://fonts.cdnfonts.com/css/nasalization-2');


html, body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #1f4568;
}

body{
background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.sect{
  padding: 90px 0;
  position: relative;
}

.collapse{
 display: block;
}

.sect--grey{
  background-color: #ebeff9;
}

.sect--violet{
  background-color:#856ee1;
}

.sect--padding-bottom{
  padding-bottom:115px;
}

.sect--padding-top{
  padding-top:90px;
}

.sect--white{
 /* background-color:#fff;*/
}
.row--center{
  max-width: 1000px;
  margin: 0 auto;
}
.row--margin{
  margin-top:45px;
}

.row__title{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.row__sub{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0px; 
  color: #8198ae;
}

.main-about{
  position:relative;
  margin-left:42%;
  margin-right: 15%;
  top: 40vh;
  transform:translate(-50%,-50%);
}

.about{
  position:relative;
  width:115vh;
  height:90vh;
  background:#f0f3f;
  box-shadow:0 15px 18px rgba(179,179,179,.6);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  overflow:hidden;
  z-index:-1;
  font-size:24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border-radius: 30px;
}

.profile-pic{
  width:140px;
  height:140px;
  background:url("logo1.png") 0 1px / cover;
  border-radius:50%;
  border:3px solid #fff;
}
.layer{
  position:absolute;
  top:21%;
  width:100%;
  height:3px;
  background-image: linear-gradient(to right, #d8c4ea , #fff);
  transition:.4s ease;
  z-index:-1;
  overflow:hidden;
}
.details{
  text-align:center;
  color:#fd6e5e;
  transition:.4s ease;
}

h2{
  color: #1765fd;
}
p {
    margin: 25px 15px 10px;
    font-family: "Poppins", sans-serif;
}
.btn a{
  display:block;
  text-decoration:none;
  width:200px;
  height:50px;
  border:5px solid #fff;
  border-radius:50px;
  text-align:center;
  line-height:40px;
  color:#fff;
  letter-spacing:5px;
  transition:.4s ease;
}
.about:hover .layer{
  height:100%;
}
.about:hover .details{
  color:#040404;
}
.about:hover .btn a{
  border-color:#040404;
  color:#040404;
}
.about:hover .skills i{
  opacity:1;
}

.description-box{
  padding: 0px 25px;  
}
.description-box__wrap{
  background-color: #fff;
  border-radius:6px;
  box-shadow:  0 4px 8px 0px rgba(0,0,0,0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
  padding: 35px 35px 40px 35px;
  text-align:center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.description-box__img{
  display: inline-block;
}

.description-box__img{
  width:130px;
  height:130px;
  border-radius:50%;
  background-position: center;
    background-size:cover;
  background-repeat:no-repeat;
}

.description-box--purple .description-box__img{
  background-image: url("monkstore2.jpg");
}

.description-box--violet .description-box__img{
  background-image: url("tombys.jpg");
}

.description-box--blue .description-box__img{
  background-image: url("linktree.jpg");
}

.description-box--green .description-box__img{
  background-image: url("login.jpg");
}

.description-box__title{
  font-size:18px;
  letter-spacing:1px;
  margin-bottom:4px;
}

.description-box__people{
  font-size:12px;
  color:#8198ae;
  font-weight: 300;
  letter-spacing:1px;
}

.description-box--purple .description-box__dollar{
  color: #8a3aff;
}

.description-box--violet .description-box__dollar{
  color: #6f79ff;
}

.description-box--blue .description-box__dollar{
  color: #3a9fff;
}

.description-box--green .description-box__dollar{
  color: #25d5a6;
}

.description-box__discount--light{
  font-weight: 400;
  font-size: 20px;
  margin-left: 3px;
}

.description-box__description {
    margin-top: 3px;
    font-size: 14px;
    color: #8198ae;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 300;
    text-decoration: line-through;
}

.description-box__feat {
    margin-top: 30px;
    font-size: 16px;
}

.description-box__list {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.description-box__list-el{
  position: relative;
  margin-bottom: 8px;
  font-weight: 300;
}

.description-box__list-el:before{
  content: "✓";
  position: absolute;
  left: -25px;
  font-size: 18px;
  top: -4px;
}

.description-box--purple .description-box__list-el:before{
  color: #ff5757;
}

.description-box--violet .description-box__list-el:before{
  color: #9685cf;
}

.description-box--green .description-box__list-el:before{
  color: #3cc8e6;
}

.description-box--blue .description-box__list-el:before{
  color: #25d5a6;
}

.description-box__wrap:hover {
  backface-visibility: hidden;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
}

.btn{
  background-color:#3a9fff;
  border-radius: 50px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);
  transition: all 0.4s;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
}



.btn:hover{
box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
background-color: #63b2fc;
color: #fff;
}

.description-box__wrap:hover .btn {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
}

.btn--revert{
    background-color:transparent;
    color: #8198ae;
    box-shadow: none;
    border:1px solid #c9d9e9;
}

.btn--revert:hover{
    background-color:transparent;
    color: #1f4568;
    box-shadow: none;
    border:1px solid #8198ae;
}


.btn--purple {
    background-color: #ff5757;
}

.btn--purple:hover{
    background-color: #ff1616;
}

.btn--violet {
    background-color: #9685cf;
}
.btn--violet:hover {
    background-color: #5e17eb;
}

.btn--blue {
    background-color: #42caff;
}
.btn--blue:hover {
    background-color: #3cc8e6;
}

.btn--blue {
    background-color: #25d5a6;
}
.btn--blue:hover {
    background-color: #00bf71;
}

.btn--width{
  width: 120px;
}

.btn--white{
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover{
  background-color: #fff;
  color: #8198ae;
}

.description-box__btn {
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -55px;
}

.row__sub--light{
  color: #aec0d2;
}
.item__img{
  width:25px;
  margin-right:10px;
}

.row__carousel{
  display:inline-block;
  float:none;
  border-radius: 6px;
}
.row--text-center{
  text-align:center;

}
.carousel-control{
  opacity:1;
  background-image:none !important;
}

.carousel-control.left{
  left:-100px;
}

.carousel-control.right{
  right:-100px;
}

.carousel-inner{
  margin-top: -25px;
}
.carousel-control__img{
 position: initial;
 top: 60%;
 margin-top: 0px;
}

.carousel-control.left .carousel-control__img{
  left:0;
}

.carousel-control.right .carousel-control__img{
  right:0;
}

.carousel-indicators li{
  height:12px;
  width:12px;
    background-color: #fff;
    border: 2px solid #8198ae;
  margin-right:8px;
}

.carousel-indicators li.active{
  height:14px;
  width:14px ;
    background-color: #fff;
    border: 3px solid #6f79ff;
  margin-right:10px;
}
.item {
  text-align:left;
  position:relative;
  padding:25px 15px 0px 25px;
}

.item__content{
padding: 40px;
border-radius: 6px;
box-shadow:  0 4px 8px 0px rgba(0,0,0,0.2);
background-color: #fff;
position: relative;
  height: 305px;
}
.item__img{
 display:inline-block;
}
.item__name{
display: inline-block;
font-size: 22px;
vertical-align: middle;
font-weight: 700;
}
.item__description {
    margin-top: 35px;
    color: #8198ae;
    line-height: 23px;
}
.item__avatar{
height: 150px;
width: 150px;
background-image: url("disinfectant.svg");
background-size: cover;
border-radius: 50%;
margin: 50px auto 15px auto;
}

.item__avatar2{
height: 150px;
width: 150px;
background-image: url("cough.svg");
background-size: cover;
border-radius: 50%;
margin: 50px auto 15px auto;

}

.item__avatar3{
height: 150px;
width: 150px;
background-image: url("patient.svg");
background-size: cover;
border-radius: 50%;
margin: 50px auto 15px auto;

}

.item__avatar4{
height: 150px;
width: 150px;
background-image: url("distance.svg");
background-size: cover;
border-radius: 50%;
margin: 50px auto 15px auto;

}
.carousel-indicators {
    width: auto;
    margin: 0;
    right: 68px;
    text-align: right;
    top: 72px;
  left: auto;
  bottom: auto;
}
.item__content:after{
content: "";
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #fff;
bottom: -20px;
position: absolute;
left: 50%;
margin-left: -23px;
filter: drop-shadow(0px 7px 4px rgba(0,0,0,.2));
}

.item__people {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.item__occupation {
    font-size: 14px;
    color: #8198ae;
    text-align: center;
}

.site{
  text-align: center;
}
.site__title{
    font-size: 65px;
    margin: 0;
    text-align: center;
    font-family: "Nasalization", sans-serif;
}

.site__subtitle{
    font-size: 30px;
    color: #8198ae;
    margin: 40px 0 40px 0;
    text-align: center;
}

.site__img{
  margin-top: 50px;
  display: inline-block;
  width: 50%;
  height: 50%;
}
.site__box-link .btn--revert{
  margin-left: 15px;
}


/*menu header*/
.header{
  padding: 30px 25px;
}
.header__elenco {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header__menu {
    float: right;
}
.header__el{
    padding: 0 25px;
    display: inline-block;
}
.header__img{
  display: inline-block;
  vertical-align: middle;
}

.header__logo, .header__menu{
  display: inline-block;
  vertical-align: middle;
}
.header__title{
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  font-family: "Anurati", sans-serif;
}

.header__light{
  color: #8198ae;
}
.header__link{
  color: #1f4568;
  font-size: 14px;

}
.header__link:hover{
  text-decoration: none;
  color:#3a9fff;
}
.navbar-toggle .icon-bar{
  background-color: #8198ae;
}
.navbar-toggle {
    margin: 5px 0;
}
.partner{
  margin-bottom:15px;
  text-align:center;
}
.partner_img{
  width:160px;
  opacity:0.5;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.sect--no-padding{
  padding-top:0;
}

.partner_img:hover{    
    transform: scale(1.08, 1.08);
  opacity:0.9;
}

.article-pre__col{
  padding:0 30px;
  margin-bottom:30px;
}

.article-pre__img {
    height: 0;
    background-position: center;
    background-size: cover;
    padding-bottom: 55%;
    border-radius: 6px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.3);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.article-pre__img--first{
   background-image: url(monkstore2.jpg);
}

.article-pre__img--second{
  background-image: url(tombys.jpg);  
}

.article-pre__img--third{
  background-image: url(login.jpg);  
}

.article-pre__img--fourth{
  background-image: url(linktree.jpg);  
}

.article-pre:hover .article-pre__img {
  box-shadow: 0px 10px 13px 4px rgba(0, 0, 0,0.2);
}

.article-pre:hover {
  text-decoration:none;
}
.article-pre__info {
    font-size: 16px;
    color: #8198ae;
  margin: 0;
padding: 25px 25px 0 25px;
}

.article-pre__date {
    float: right;
}

.article-pre__title {
font-size: 20px;
color: #1f4568;
margin: 0;
padding: 15px 25px;
}

.article-pre__arrow--purple{
  color: #8a3aff;
}

.contacts_title-ag {
    margin: 0;
        margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin-left: 10px;
}

.contacts__link{
  color: #1f4568;
}

.contacts--light {
    color: #8198ae;
}

.contacts__address {
margin-top: 20px;
color: #8198ae;
font-size: 16px;
line-height: 27px;
padding-bottom: 12px;
margin-bottom: 17px;
  position: relative;
}

.contacts__address:after{
  content: '';
position: absolute;
width: 120px;
height: 1px;
background-color: #8198ae;
bottom: 0;
left: 0;
}
.contacts__info {
    color: #8198ae;
    font-size: 16px;
    margin-bottom: 2px;
}
.contacts__info-link {
    color: #3a9fff;
  text-decoration:none;
}

.form-group {
   margin-bottom: 20px;
   display: table;
   width: 100%;
   position:relative;
}

.form__field {
    height: 50px;
    position:relative;
    border: none;
    padding: 10px 12px;   
    width: 100%;
    border-radius:6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance:none;
    -o-appearance: none;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
     z-index: 2;
}

.form__select {
    background-image: url('http://www.austinlawrencepartners.com/wp-content/uploads/arrow-down-gray-hi.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 97%;
    width: 100%;
    padding-right: 30px;
    background-position-y: center;
    background-color:#fff;
  color: #8198ae;
}

.form__field--half{
  width:50%;
  float:left;
}

.form__field--half:first-of-type{
  padding-right:15px;
}


.form__textarea{
  height:200px;
}

.btn--up{
  position: absolute;
  bottom: -15px;
  right: 25px;
  z-index: 3;
}

.box{
    position: absolute;
    top: 20px;
    right: 10px;
    height: 70px;
    width: 400px;
    display: flex;
    background: rgba( 255, 255, 255, 0.05 );    
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.09);
    
}
.box .icon{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #00aaff46,transparent);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #00a8ff;
}
.icon .fa{
    margin-left: 20px;
    font-size: 18px;
}
.box-details{
    display: inline-block;
    margin: auto 0;
}
.box-details  h4{
    color: #00a8ff;
}
.box-details p{
    font-size: 14px;
    color: #f5f6fa;
}
.box-details p span{
    font-size: 16px;
    font-weight: 600;
}
.close{
    display: flex;
    margin: auto;
    color: #fff;
    cursor: pointer;
}
.box.hide{
  display: none;
}

.box.show{
    animation: bounce-show 2s ease;
}
@keyframes bounce-show{
    0%{
        transform: translateX(100%);
        }
        25%{
        transform: translateX(0);
        }
        40%{
        transform: translateX(26px);
        }
        55%{
        transform: translateX(0);
        }
        65%{
        transform: translateX(13px);
        }
        75%{
        transform: translateX(0);
        }
        82%{
        transform: translateX(6.5px);
        }
        87%{
        transform: translateX(0);
        }
        93%{
        transform: translateX(4px);
        }
        100%{
        transform: translateX(0);
        }
           
}



.blog_title {
    color: #fff;
    font-size: 28px;
}

.blog_sub {
    font-size: 22px;
    color: #ffd833;
    margin-top: 0;
    margin-bottom: 30px;
}

.blog-img {
    position: absolute;
    bottom: 0;
width: 65%;
z-index: 0;
left: 20%;
}


.footer{
  background-color: #1f4467; 
  padding: 40px 0; 
}

.footer__title{
  font-size: 18px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color:#3a9fff;
}

.footer__light{
   color:#fff;
}

.footer__social {
    float: right;
}

.footer__social-l {
    margin-left: 15px;
    vertical-align: middle;
}

@media screen and (max-width:1500px){
   margin-left: 35%;
}

@media screen and (max-width:1024px){
  .main-about {
    position: relative;
    margin-left: 35%;
  }
  
.about {
    position: relative;
    width: 100vh;
    height: 85vh;
  }

  p {
    margin: 0 0 35px;
  }

  .btn a {
    height: 45px;
    border: 3px solid #fff;
    letter-spacing: 6px;
  }

  .collapse{
    display: none;
  }
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
  .header__container{
    width: 100%;
    padding: 0;
  }
  .header__menu {
    width: 100%;
}
  .header{
    background-color:#fff; 
    padding: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  .header__logo{
    padding: 12px 20px 12px 20px;
  }
  .header__el {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ededed;
}
  
  .header .btn--white, .header .btn--white:hover{
    padding: 0;
    border: 0;
    box-shadow: none;
    color:#fff;
    background-color:transparent;
  }
  .header__el--blue{
    background-color:#3a9fff;
  }

}


@media screen and (max-width:991px){
  
  .site {
    margin-top: 15%;
  }
   .site__title {
    font-size: 50px;
  }
   .main-about {
    top: 20vh;
    margin-left: 40%;
  }
  .about {
    width: 140%;
    height: 500px;
    font-size: 24px;
  }
  .profile-pic {
    width: 20%;
    height: 20%;
  }
  
  .layer {
    top: 15%;
  }
  
  p {
    margin: 0px 16px 40px;
    line-height: 30px;
    font-size: 18px;
  }
  
  .skills {
    font-size: 20px;
  }

  .btn {
    padding: 10px 25px;
    margin-bottom: 10px;
  }

  .btn a {
    width: 125px;
    height: 40px;
    border: 0px solid #fff;
    border-radius: 35px;
    line-height: 39px;
    letter-spacing: 4px;
  }

  .sect {
    padding: 5px 0;
    position: relative;
    padding-bottom: 115px;
  }

  .description-box {
    padding: 0px 10px;
  }

  .carousel-control.left{
    left: -25px;
  }

  .carousel-control.right {
    right: -25px;
  }

  .item__content {
    height: auto;
 }
  .item__description {
    line-height: 25px;
    font-size: 18px;
 }
}

@media screen and (max-width:767px){
  
  .site__title {
    font-size: 50px;
  }
  .main-about {
    top: 35vh;
    margin-left: 45%;
  }
  .about {
    width: 125%;
    height: 500px;
    font-size: 14px;
  }
  .profile-pic {
    width: 35%;
    height: 20%;
  }
  
  .layer {
    top: 15%;
  }
  
  p {
    margin: 0px 12px 150px;
  }
  
  .btn {
    border-radius: 50px;
    padding: 16px 25px;
  }

  .btn a {
    width: 200px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 35px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  

  .footer {
    padding: 25px 0;
  }

  .description-box {
    padding: 0px 40px;
    margin-bottom: 38px;
  }

  .description-box__wrap {
    padding: 35px 35px 40px 35px;
    width: 80%;
    margin-left: 10%;
  }

  .description-box__title {
    margin-bottom: 4px;
  }

  .description-box__people {
    margin-bottom: 0%;
  }

  .description-box__feat {
    margin-bottom: 5%;
    margin-top: 30px;
  }

   .description-box__list {
    padding-left: 30px;
    margin: 40px;
  }

  .site__img{
    width: 60%;
    height: 60%;
  }
  .item__content{
    padding: 20px;
   
  }
  .item__description {
    font-size: 24px;
    line-height: 40px;
  }

  .article-pre__info {
    padding: 25px 10px 0 10px;
    font-size: 14px;
  }
  
  .article-pre__title {
    padding: 10px 10px;
    font-size: 16px;
  }
  
  .form {
    margin-top: 30px;
  }
  
  .form__field--half:first-of-type {
    margin-bottom: 10px;
    padding-right: 0px;
  }

  .form__field--half {
    width: 100%;
    float: none;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:480px){
  .main-about {
    top: 25vh;
    margin-left: 40%;
  }
  
  .about {
    width: 145%;
    height: 360px;
    font-size: 12px;
  }

  .profile-pic {
    width: 25%;
    height: 20%;
  }

  .layer {
    top: 12%;
  }

  p {
    margin: 0px 15px 59px;
    font-size: 10px;
    line-height: 18px;
  }

  h2 {
    font-size: 18px;
    margin-top: 0px;
  }
  
  .details {
    height: 30vh;
  }
  
  .btn a {
    width: 70px;
    height: 26px;
    border: 0px solid #fff;
    line-height: 25px;
    font-size: 8px;
    letter-spacing: 1px;
  }

  .description-box {
    padding: 0px 20px;
  }
  
  .carousel-control__img{
    width: 20px;
  }
  
  .carousel-control.left {
    left: -5px;
  }
  
  .carousel-control.right {
    right: -5px;
  }
  
  .partner {
    width: 100%;
  }
  
  .footer {
    padding: 15px 0;
  }
  
  .footer__img {
    width: 15px;
  }
  
  .footer__title {
    font-size: 16px;
    margin-left: 5px;
  }
  
  .sect {
    padding: 65px 0;
  }
  
  .sect--padding-top{
    padding-top: 80px;
  }
  
  .row__sub {
    font-size: 16px;
  }
  
  .row__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .description-box__title {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .description-box__img {
    width: 100px;
    height: 100px;
  }
 
  .description-box__wrap {
    padding: 20px 20px 30px 20px;
  }
 
  .description-box__people {
    font-size: 10px;
    font-weight: 400;
  }
 
  .description-box__discount {
    font-size: 22px;
  }
 
  .description-box__description {
    font-size: 12px;
  }
 
  .description-box__feat {
      margin-top: 15px;
      font-size: 14px;
  }
 
  .description-box__list-el {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .site__title {
    font-size: 25px;
  }
  
  .site__subtitle {
    font-size: 12px;
    margin: 10px 0 20px 0;
  }
  
  .site__img {
    margin-top: 30px;
  }
  
  .row--margin {
    margin-top: 30px;
  }
  
  .btn {
    font-size: 12px;
    padding: 8px 8px;
  }
  
  .btn--width {
    width: 100px;
  }
  
  .blog_title {
    font-size: 18px;
    margin-top: 0;
  }
  
  .blog_sub {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .carousel-indicators {
    display: none;
  }
  
  .item__name {
    font-size: 18px;
  }
  
  .item__description {
    font-size: 16px;
    margin-top: 18px;
  }

  .article-pre__date {
    font-size: 12px;
    float: none;
  }
}