@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#FFFFFC,#EFEFFF);
}
.container{
    position: relative;
    width: 320px;
}
.box{
    display: flex;
    justify-content: flex-start;
}
.box span{
    line-height: 15px;
    text-align: center;
    padding: 5px;
    height: 60px;
    width: 90px;
    background: #fff;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.box span p{
    color: #929292;
}
.box span.active{
    background: #FF608C;
    color: #fff !important;
    border: none;
}
.box span.active p{
    color: #fff;
}
.boxes{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background: #ffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.boxes .arrow{
    position: absolute;
    height: 20px;
    width: 20px;
    top: -10px;
    left: 35px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
    background: #ffff;
    transform: rotate(45deg);
    transition: 0.5s;
    border-top-left-radius: 2px;
}
.price__boxes{
    position: relative;
    width: 100%;
    height: 70%;
}
.price__box{
    width: 100%;
    position: absolute;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    pointer-events: none;
}
.price__box.show{
    opacity: 1;
    pointer-events: all;
}

.overview{
    width: 290px;
    height: 190px;
    margin-left: -45px;
    }

.price__box > p{
    color: #FF608C;
    font-size: 0.8rem;
}
.price__box h3,.price__box h1,
.price__box > p{
    text-align: center;
}
.price__box .list__item{
    margin: 10px 60px;
}
.price__box .list__item li{
    display: flex;
    align-items: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.price__box .list__item li .check{
    margin-right: 5px;
    height: 5px;
    width: 10px;
    border-left: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    transform: rotate(-45deg);
    border-radius: 2px;
}
.price__boxes::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #DBDBDB;
    bottom: 0;
    left: 0;
}
.buttons{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons .adding{
    text-align: center;
    margin: 8px 0;
    border: 2px solid #FF608C;
    border-radius: 20px;
}
.buttons .adding button{
    background: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    line-height: 35px;
    color: #FF608C;
}
.buttons > button{
    height: 40px;
    background: #FFDA60;
    width: 180px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}